
API_ID=32938190
API_HASH=39a85612c36a059f81fbc69b161c888c
BOT_TOKEN=8950790088:AAFeKQ9NCahJ1QsMJtP454JazX1-QD9Hz4Q
OWNER_ID=8311523389
BOT_USERNAME=Eren_Titan_033bot
MONGO_DB_URI=mongodb+srv://musicbotxd:musicbotxd@cluster0.6thyk.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOG_GROUP_ID=-1002377131698
STRING_SESSION=BQH2mM4AdFYdQ2mHocxPxXNED_wMFTNF5POIWQRhXj9ePi0AEpiXI8PoZp47L0sI6_0-ROQp7iLIJmvqUlvEoxgeEMJg3vXzzVF67X2wuD62AB-H9ynO7CUS3ieRsNDbqocyhR_asbRsjAygwNmbJtpXY9ur0qkR0YUXydt7xwFAPwcEAeyEaBA3aS5fNugyU2P5_V_Cj5uVE6xf409K5iBrskIiWD_WS5gHkzS2Y7naSKFL4J0QwepExI_gInaLIPigpisEl_1Qy0LWrL5rp0m58xmwDbRZjoGAJy1KezN1PF1xQlepjtPWEcpnMtQsx8ASKAecfeVyv8D8G_YlxEXAH_ZekQAAAAIGTbL5AA
